body {
	font-family: 'Open Sans', serif;
}

h1, h3, h3, h4, h5, h6 {
	font-family: 'Open Sans', serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

footer {
	padding: 90px 0;
	color: #333;
}

.section {
	padding: 90px 0;
}

.section-header {
	padding-bottom: 30px;
}

.section-title {
	color: #333;
	font-family: 'Open Sans', serif;
}

.header-strips-one {
	width: 70px;
	height: 1px;
	position: relative;
	margin: 20px auto 19px;
	border-top: 1px solid #d0d0d0;
}

.link {
	color: #494949;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	display: block;
	margin-bottom: 0px;
}

.link:hover {
	color: #494949;
	text-decoration: none;
	text-align: center;
}

img {
	margin: 0 auto;
}

.site-header {
	background-image: url(background/image-11.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	padding: 200px 0;
	position: relative;
}

.section-container {
	position: relative;
	z-index: 10;
}

.overlay {
	z-index: 0;	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}